h1 {
    text-align: center;
  }
  
  .form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="date"],
  .form-container input[type="time"] {
    padding: 5px;
    border: 1px solid black;
  }
  
  .form-container button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #resultado-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    display: none;
  }

  .linhadivisoria{
    background-color: rgb(155, 154, 154);
    padding: 3px;
    border-radius: 3%;
   
  }