
body {
  background: radial-gradient(circle at center, #434141, #131313);
  font-family: sans-serif;
  color: rgb(37, 37, 123);
}

.container {
  width: 50%;
 
}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
}

.message {
  font-size: 16px;
}

.message span {
  padding: 0 5px;
}