
body {
  background-color: aqua;
  font-family: sans-serif;
  color: rgb(37, 37, 123);
}

.container {
 
  width: 400px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.message {
  font-size: 16px;
}

.message span {
  padding: 0 5px;
}